# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
*.sqlite3
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
local_settings.py
media/
staticfiles/

# Visual Studio Code
.vscode/

# Node
node_modules/
npm-debug.log

dist/

# OS files
.DS_Store
Thumbs.db
